<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/sketches.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<style>
  h2{
    font-size:4rem;
  }
</style>

<body>
  <div class="grey split left">
    <a href="../views/m-index.html"><i class="fa fa-home" aria-hidden="true"
        style="margin:0;border:1px solid white;color:white;"></i></a>

    <div class="centered">
      <h2 class="lineUp">Introduction</h2>
      <p>Starting off with this document, our group wanted to explore the
        similarities and differences between the Measles campaign and the Covid campaign epidemic.
        Though both diseases are very different, we aim to discover what certain variables may
        or may not cause a successful eradication of one disease over the other. </p>
    </div>
  </div>

  <div class="gone split right">
    <embed src="../assets/images/measles.pdf" width="950px" height="2100px" />
  </div>


</body>

<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>

</html>