<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/sketches.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
  <nav style="z-index: 100000;">
    <a href="./c-index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
    <ul class="">Public Funding</ul>
    <div class="button-house">
      <a href="./m-pfund.html"> <button class="phone-b">Measles</button></a>
      <a href="./c-pfund.html"> <button class="red-phone-b">COVID</button></a>
    </div>
  </nav>

  <div id="sht" class="com split right">
    <video id="c-public-fund" controls autoplay loop infinite muted="controls">

      <source src="../assets/source/p-cpublicfund.mp4" type="video/mp4">
    </video>

    <p id="d-scroll" class="scroll" style = "margin-top:20%;">scroll down </p>

  </div>

  <div class="com r-left-before"></div>
  <div class="red split left">

    <div class="centered">
      <h2 class=" lineUp">Public Funding</h2>
      <a href="./m-pfund.html"> <button class="gone">Measles</button></a>

      <p>Graph shows the different funding aspects of COVID.
        One can see that the measles outbreak functioned differently.
        The diagram significantly shows that hterere were more funds in publicity -- a tactic
        that raise awareness of the whole measles campaign. This tactic differs from the
        COVID's situation in which disinformation is rampant and less organized. </p>
    </div>
  </div>

  <div class="gone split right">
    <video width="750vw" height="750vh" controls autoplay loop infinite="controls">

      <source src="../assets/source/c-pfund.mp4" type="video/mp4">
    </video>
  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>

</html>
