<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="../assets/css/sketch3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body class="red">
  <div id="score">0</div>
  <canvas class="canvas" id="canvas">No Fly</canvas>
  <img id="img_flydie" src="../assets/images/covid-06.png">
  <img id="img_fly0" src="../assets/images/nvperson.png">
  <img id="img_fly1" src="../assets/images/nvperson.png">
  <img id="img_fly2" src="../assets/images/nvperson.png">
  <img id="img_pow" src="../assets/images/nvperson.png">



  <div class="container">
    <div class="button-click-sec">
      <div class="btn-sec">
        <button class="btn">More Information</button>

      </div>
    </div>

    <button class="btn">
      <a href="./c-index.html"><i class="fa fa-home" aria-hidden="true" style="color:white;"></i></a>
    </button>
    <div class="modal-section">
      <span>X</span>
      <h2>COVID Reduction</h2>
      <p>
        Meanwhile, 67 perecent of the COVID patients were vaccinated.
        People still died evem with this vaccination in place.
        Cases still arise due to it being a relatively new disease. Due to these factors of parents
        and being a well-known diseaes, the measle vaccination campaign was sucessful.

      </p>
      <a href="./m-vacc.html"><button class="btn" style="z-index:10000;">Measles</button></a>

    </div>
    <div class="overlay"></div>
  </div>


</body>

<script src="../assets/js/sketch4.js"></script>