<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/sketches.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <nav id="d-nav" class="com">
    <a href="./m-index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
    <ul class="">Death Rate</ul>

  </nav>

  <div class="com split right">

    <video id="death" autoplay loop infinite muted playsinline="controls" style="margin-right:100px;">

      <source src="../assets/source/p-deathrate.mp4" type="video/mp4">
    </video>

    <p id="d-scroll" class="com scroll">scroll down </p>
  </div>

  <div class="com n-left-before"></div>
  <div class="grey split left">
    <img id="blood" src="../assets/images/blood.gif"
      style="margin: -10%; z-index:-1000; width:42.75vw; height:150vh; position: fixed; opacity: 0.4">

    <div class="centered">
      <h2>Death Rate</h2>

      <p>Graph shows the different funding aspects of measles.
        One can see that the measles outbreak functioned differently.
        COVID has the higher mortality rate due to its rapid spread.
        The rapid spread allowed for the disease to reach different age groups and demographics.
        This higher outreach led to a higher death rate than measles -- which does not have a high mortality rate
        from the start.
      </p>
    </div>
  </div>

  <div class="gone split right">
    <video id="death" width="700vw" height="700vh" autoplay loop infinite muted="controls" style="margin-right:100px;">

      <source src="../assets/source/p-deathrate.mp4" type="video/mp4">
    </video>
  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>

</html>
