<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COVIDvMEASLES</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../assets/css/style.css">
</head>

<style>
	body {
		background-color: grey;
	}
</style>

<body>
	<img src="../assets/images/logo-08.png" style="margin-top:50%; width:100vw;">
	
	<button id="landing" style="color:white;">
		<a href="../views/m-index.html">Start</a>
	</button>

</body>

</html>
