<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/sketches.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <nav>
    <a href="../views/m-index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
    <ul class="">Contamination Rate</ul>
    <div class="button-house">
      <a href="./m-crate.html"> <button class="blue-phone-b">Measles</button></a>
      <a href="./c-crate.html"> <button class="phone-b">COVID</button></a>
    </div>

  </nav>

  <div id="sketch-holder"></div>

  <p class="scroll" style="margin-left:20%; margin-top:-10%">scroll down </p>
  <div class="gone split left">

    <a href="../views/m-index.html"><i class="fa fa-home" aria-hidden="true"></i></a>

    <div class="centered">
      <h2 class="lineUp" style="padding-top:0.5rem;">Contamination Rate</h2>
      <a href="./m-crate.html"> <button>Measles</button></a>

      <p class="lineUp">Click Circle to see how COVID contaminates



        .</p>


      <p><button onclick="myFunction()" style="margin-right:20px;">More Info </button></p>
      <div id="lineUp myDIV">
      </div>



    </div>
  </div>
  <div class="com left-before"></div>
  <div class="blue com split left">



    <div class="centered">
      <h2 class=" lineUp">Contamination Rate</h2>
      <button class="gone"> <a href="./c-crate.html"> COVID</a></button>

      <p>The nature of COVID allows for contamination to increase exponentially.
        The disease being just simply transmissable by air through the respiratory
        system creates massive dissemnation of the bacteria. This diagram tries to
        recreate this experience by showing the expoenential growth in a tree-like manner,
        From one person to another, the graph grows exponentially. </p>
    </div>
  </div>

  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="../assets/sketches.js"></script>


<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
<script src="../assets/js/sketch1-2.js"></script>
<script src="../assets/sketches.js"></script>

</html>