<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Measles Gallery</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<nav style="text-align:left; padding:10px; z-index: 100000;">
  <a href="../views/landing.html"><i class="fa fa-home" aria-hidden="true"></i></a>
  <ul>
    <button id="measles-b">
      Measles
    </button>
    <button>
      <a href="../views/c-index.html">COVID </a>
    </button>
  </ul>
</nav>


<body>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="box-menu" style=" background-color:#5A5A4F; color:white;">

          <div class="circle">
            <h2 class = "grey-h2"> About </h2>
            <a href="../views/about.html"><button class="default">Go</button></a>

          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="box-menu">
          <div class="circle">
            <h2> Contamination Rate</h2>
            <img class = "icon" src = "../assets/icon/crate.png">
            <a href="../views/m-crate.html"><button class="default">Go</button></a>

          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="box-menu">
          <div class="circle">
            <h2> Vaccination Rate</h2>
            <img class = "icon" src = "../assets/icon/vrate.png">
            <a href="../views/m-vacc.html"><button class="default">Go</button></a>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="box-menu">

          <div class="circle">
            <h2> Population Density</h2>
            <img class = "icon" src = "../assets/icon/pdensity.png">
            <a href="../views/pdensity.html"><button class="default">Go</button></a>

          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="box-menu">

          <div class="circle">
            <h2> Death <br>Rate</h2>
            <img class = "icon" src = "../assets/icon/drate.png">
            <a href="../views/drate.html"><button class="default">Go</button></a>

          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="box-menu">

          <div class="circle">
            <h2> Public <br>Fund</h2>
            <img class = "icon" src = "../assets/icon/prate.png">
            <a href="../views/m-pfund.html"><button class="default">Go</button></a>

          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="grey box-menu">

          <div class="circle">
            <h2 class = "grey-h2"> Research </h2>
            <a href="../views/research.html"><button class="default">Go</button></a>

          </div>
        </div>
      </div>



    </div>
    <div class="swiper-pagination"></div>
  </div>





  <footer>

    <div class="footer-content">
      <!-- <p>Website coded and designed by Li June Choi.</p> -->
      <ul class="socials">
        <a href="#"><i class="uil uil-facebook-f"></i></a>
        <a href="#"><i class="uil uil-instagram"></i></a>
        <a href="#"><i class="uil uil-linkedin"></i></a>
      </ul>
    </div>
    <div class="footer-bottom">
      <!-- <p>copyright &copy; by LiJuneChoi</p> -->
    </div>
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="../assets/js/main.js"></script>

</html>
