<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/sketches.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<nav>

  <a href="./m-index.html"><i class="fa fa-home" aria-hidden="true"></i></a>
  <ul class="">Public Funding</ul>
  <div class="button-house">
    <a href="./m-pfund.html"> <button class="blue-phone-b">Measles</button></a>
    <a href="./c-pfund.html"> <button class="phone-b">COVID</button></a>
  </div>
</nav>

<body>

  <div id="sht" class="com split right">
    <video id="measles-public-fund" controls autoplay loop infinite muted="controls">

      <source src="../assets/source/c-pfund.mp4" type="video/mp4">
    </video>

    <p class="scroll" style = "margin-top:10%;">scroll down </p>
  </div>
  <div class="com left-before"></div>
  <div class="blue split left">



    <div class="centered">
      <h2 class=" lineUp">Public Funding</h2>
      <button class="gone"> <a href="sketch4-1.html"> COVID</a></button>

      <p>Graph shows the different funding aspects of measles.
        One can see that the measles outbreak functioned differently.
        The diagram significantly shows that hterere were more funds in publicity -- a tactic
        that raise awareness of the whole measles campaign. This tactic differs from the
        COVID's situation in which disinformation is rampant and less organized. </p>
    </div>
  </div>

  <div class="gone split right">
    <video id="measles-public-fund" width="750vw" height="750vh" controls autoplay loop infinite="controls">

      <source src="../assets/source/c-pfund.mp4" type="video/mp4">
    </video>
  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
<script src="../assets/js/sketch4.js"></script>

</html>
