<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="../assets/css/sketch2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<nav>
  <a href="../views/m-index.html"><i class="fa fa-home" aria-hidden="true" style="color:white;"></i></a>
</nav>

<body>

  <div style="margin:-10% 0% 10% 0%; padding: 0% 5% 0% 5%; ">
    <h2 class="font-size: 8rem; top: 0px; position:absolute; color:white;">Population Density</h2>
    <h2 style="font-size:8rem; font-weight: 200;top: 500px; position:absolute; color:white;">207498 population</h2>
    <h2 style="top: 950px; position:absolute; color:white;">1960s</h2>
  </div>

  <img src="../assets/images/p-density.png" style="margin:-10px;z-index:-1; width:101vw;">

  <div style="margin:-20% 0% 10% 0%; padding: 0% 5% 0% 5%; background-color:red;">
    <h2 style="font-size:8rem; font-weight: 200;color:white;">179472 population</h2>
    <h2 style="color:white;">2020s</h2>

    <div class="left-p">
      <p style="color:white;">The population density decreased by 28026.<br>
        Not a significant change within the population that makes the measles epidemic different from
        the current Providence population density.</p>
    </div>

  </div>

</body>

</html>
