<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/research.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belleza&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
  <a href="./m-index.html"><i class="fa fa-home" aria-hidden="true"></i></a>

  <div class="split left">
    <div class="centered">
      <h2 id="title" style="margin-top: 20%;"> Research Process</h2>
      <hr>
      <p>Using the data, we tried to create some sample charts that would collect the data
        regarding measles and COVID. The COVID results would be collected from the <a
          href="https://www.nytimes.com/interactive/2021/us/providence-rhode-island-covid-cases.html">NYT Times</a>
        collected
        Providence Data. Meanwhile, the measles data was a combination of the paper and the CDC factual
        data regarding the mortality of measles.
        <br>
        Separating the information into different tabs, we created a series different graphs that make
        out the information of this piece.
      </p>

      <img src="../assets/images/measles.png" style>


      <h2 style="margin-top: 10%;"> Draft 2</h2>
      <hr>

      <p>Using the data, we first created these charts that became interactive and that would jump out.
        We focused on the data -- rather than the visualization.
        This critique became the next step in understanding the next process. </p>

      <video  controls="controls">

        <source src="../assets/source/draft1.mp4" type="video/mp4">
      </video>

      <video controls="controls">

        <source src="../assets/source/draft2.mp4" type="video/mp4">
      </video>

      <h2 style="margin-top: 10%;"> Draft 3</h2>
      <hr>
      <p>We created some charts that took visual creativity.
        One graph would look like a virus, and the other would look
        like blood dripping. The illustrative nature of the graphs allowed
        for a more humane design than the cold informative bar graphs.
      </p>

      <img src="../assets/images/covid-07.png" style>
      <img src="../assets/images/covid-08.png" style>


      <h2 style="margin-top: 10%;">Final</h2>
      <hr>
      <p>We then created interactive graphs and animated images
        to increase the level of interactivity within the pieces.
      </p>

      <video width="400px" height="400px" controls="controls">

        <source src="../assets/source/p-deathrate.mp4" type="video/mp4">
      </video>

      <video width="400px" height="400px" controls="controls">

        <source src="../assets/source/expenses-refined.mp4" type="video/mp4">
      </video>


    </div>
  </div>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>

</html>
